SLACK_TOKEN=<SET_THIS>
SLACK_SIGNING_SECRET=<SET_THIS>
INCIDENT_CHANNEL_NAME=incidents
INCIDENT_BOT_NAME=incident
INCIDENT_REPORT_CHANNEL_NAME=incident-reports

DJANGO_SETTINGS_MODULE=demo.settings.dev
