SLACK_TOKEN=""
SLACK_SIGNING_SECRET=""
INCIDENT_CHANNEL_NAME="incidents"
INCIDENT_BOT_NAME="incident"

DB_HOST=""
DB_NAME=""
DB_USER=""
DB_PORT=""
DB_SSL_MODE=""
DB_PASSWORD=""
SITE_URL=
DJANGO_SETTINGS_MODULE=demo.settings.prod
