SLACK_TOKEN="xoxp-12364000946-544589790149-736263690613-e80d93243d4ddedd707c1db64e9bbfd7"
SLACK_SIGNING_SECRET="dc56c379b88174f85d556387d73996e9"
INCIDENT_CHANNEL_NAME="incidents"
INCIDENT_BOT_NAME="incident"

DB_HOST="incident-response.celdhaqvqlvc.us-west-1.rds.amazonaws.com"
DB_NAME="response"
DB_USER="postgres"
DB_PORT="5432"
DB_SSL_MODE="disable"
DB_PASSWORD="jBdJfIaXWfAzGaQmkbt6"
SITE_URL=https://incidents.zeit.sh
DJANGO_SETTINGS_MODULE=demo.settings.prod
