SLACK_TOKEN=<SET_THIS>
SLACK_SIGNING_SECRET=<SET_THIS>
INCIDENT_CHANNEL_NAME=incidents
INCIDENT_BOT_NAME=incident     # This bot name is all lowercase. If the bot name `Response` is specified, this name will be `response`.
INCIDENT_REPORT_CHANNEL_NAME=incidents

DJANGO_SETTINGS_MODULE=demo.settings.dev
